<div class="section">
    <div class="section-content">
        <h3>{{'ABOUT_US' | translate}}</h3>
        <hr/>
        <div class="row">
            <div class="col-sm-6 text-center">
                <div>
                    <img src="../../assets/images/jlugo.jpg">
                    <div>
                        <div class="name">Dr. Jorge Lugo</div>
                        <div class="contact">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="jlugo@insightdynamic.com.ar">jlugo@insightdynamic.com.ar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div>
                    <img src="../../assets/images/mtorres.jpg">
                    <div>
                        <div class="name">Ing. Mirta Torres</div>
                        <div class="contact">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a href="mtorres@insightdynamic.com.ar">mtorres@insightdynamic.com.ar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
