<div class="section contact-background light">
    <div class="dark-overlay"></div>
    <div class="section-content">
        <h3>{{'CONTACT_US' | translate}}</h3>
        <hr/>
        <div class="row">
            <div class="col-sm-6">
                <p class="contact-text" [innerHTML]="'CONTACT_US_DESC' | translate"></p>
            </div>
            <div class="col-sm-6">
                <form class="form" [formGroup]="form">
                    <div class="form-group">
                        <label>{{'NAME' | translate}}</label>
                        <input formControlName="name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>{{'COMPANY' | translate}}</label>
                        <input formControlName="name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>{{'MESSAGE' | translate}}</label>
                        <textarea formControlName="message" rows="3" type="text" class="form-control"></textarea>
                    </div>
                    <hr/>
                    <div class="text-right">
                        <a class="btn btn-info" href="mailto:hola?insightdynamic.com?subject=Contacto&body={{form.value.name + '%0D%0A%0D%0A' + form.value.message}}" type="button">{{'SEND' | translate}}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
