<div>
    <app-header></app-header>
    <div class="container-fluid">
        <app-welcome id="welcome"></app-welcome>
        <app-motivation id="motivation"></app-motivation>
        <app-projects id="projects"></app-projects>
        <app-about-us id="about-us"></app-about-us>
        <app-mission-vission-values id="mission-vision-values"></app-mission-vission-values>
        <app-partners id="partners"></app-partners>
        <app-contact id="contact"></app-contact>
        <app-footer></app-footer>
    </div>
</div>
